{% extends 'network/layout.html' %}

{% block body %}

<h4 id="following-title">following users posts</h4>
<div class="user-info-container">
    <div class="user-info-wrapper" id="following-wrapper">
        {% for user in users %}
        <div class="following-user">
            <p>{{user}}</p>
            <a href="{% url 'followers' id=user.id %}">
                <button type="button" class="btn btn-outline-primary">Unfollow</button>
            </a>
        </div>
        {% empty %}
        <h5>No followers</h5>
        {% endfor %}
    </div>
    <div class="user-info-body">

        {% for post in posts %}
        <div class="post-body">
            <div class="post-body-header">
                <a href="{% url 'user_info' post.user.id %}">
                    <h5>{{post.user}}</h5>
                </a>
                <p>{{post.timestamp}}</p>
            </div>
            <p class="post-body-text">{{post.text}}</p>
            <div class="post-body-likes">Likes: {{post.likes}}</div>
        </div>

        {% empty %}
        <h3 class="message">You are not following any users</h3>
        {% endfor %}
    </div>
</div>
{% endblock %}