{% extends "network/layout.html" %}

{% block body %}
<div class="wrapper">
    <div class="main-section">
        {% for post in posts %}
        <div class="post-body">
            <div class="post-body-header">
                <a href="{% url 'user_info' post.user.id %}">
                    <h5>{{post.user}}</h5>
                </a>
                <p>{{post.timestamp}}</p>
            </div>
            <p class="post-body-text">{{post.text}}</p>
            <div class="post-buttons">
                {% if userInfo == post.user %}
                <a href="{% url 'edit_post' id=post.id %}"><button class="btn btn-outline-primary btn-sm"
                        id="edit">Edit</button></a>
                {% endif %}
                <div class="post-body-likes" data-id={{post.id}}>Likes: {{post.likes}}</div>
                <form action="{% url 'like' post.id %}" method="POST">
                    {% csrf_token %}
                    <button id="like" value={{post.id}} name="like" type="submit">LIKE</button>
                </form>

            </div>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}