{% extends "network/layout.html" %}

{% block body %}
<div class="wrapper">
    <div class="main-section">
        {% for post in posts %}
        <div class="post-body">
            <div class="post-body-header">
                <a href="#">
                    <h5>{{post.user}}</h5>
                </a>
                <p>{{post.timestamp}}</p>
            </div>
            <p class="post-body-text">{{post.text}}</p>
            <div class="post-body-likes">Likes: {{post.likes}}</div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}