{% extends "network/layout.html" %}

{% block body %}
<div class="user-info-container">
    <div class="user-info-wrapper">
        <img class="user-info-item" id="user-img" src='{{userInfo.image.url}}' alt="">
        <h2 class="user-info-item">{{userInfo}}</h2>
        <h5 class="user-info-item">name: <span>{{userInfo.name}}</span></h5>
        <h5 class="user-info-item">email: <span>{{userInfo.email}}</span></h5>
        <div class="user-info-followers">
            <div class="followers">FOLLOW: {{followers}}</div>
            <div class="following">FOLLOWERS: {{follow}}</div>
        </div>
        {% if user.is_authenticated %}
        {% if user.id != userInfo.id %}
        {% if user in userInfo.following.all %}
        <a href="{% url 'followers' id=userInfo.id %}">
            <button class="add">Unfollow</button>
        </a>
        {% else %}
        <a href="{% url 'followers' id=userInfo.id %}">
            <button class="add">Follow</button>
        </a>
        {% endif %}
        {% endif %}
        {% endif %}
    </div>
    <div class="user-info-body">
        {% for post in posts %}
        <div class="post-body">
            <div class="post-body-header">
                <a href="{% url 'user_info' post.user.id %}">
                    <h5>{{post.user}}</h5>
                </a>
                <p>{{post.timestamp}}</p>
            </div>
            <p class="post-body-text">{{post.text}}</p>
            <div class="post-body-likes">Likes: {{post.likes}}</div>
        </div>
        {% empty %}
        <h2 id="post-body-empty">You don't have any post yet</h2>
        {% endfor %}
    </div>
</div>
{% endblock %}